<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Авторизация</h2>
    <form name="authorization" method="post">
        <div class="row">
            <label>e-mail или телефон: </label>
            <input type="text" name="contact" id="log">
        </div>
        <div class="row">
            <label>Пароль: </label>
            <input type="password" name="password" id="pass" minlength="6">
        </div>
        <div class="error" id="passwordErr">{{ error }}</div>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>