<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Корзина</h1>
<div class="hat">
        <div class="hat_0">
            <a href="{{ url_for('main_page') }}" class="hat_urls">Перейти на главную страницу</a>
        </div>
        <div class="hat_1">
            <a href="{{ url_for('user_page') }}" class="hat_urls">Перейти на личную страницу</a>
        </div>
        <div class="hat_2">
            <a href="{{ url_for('favourites') }}" class="hat_urls">Избранное</a>
        </div>
        <div class="hat_3">
            <a href="{{ url_for('orders') }}" class="hat_urls">Мои заказы</a>
        </div>
        <div class="hat_4">
            <a href="{{ url_for('logout') }}" class="hat_urls">Выйти</a>
        </div>
        <hr><br>
    </div>
{% for msg in get_flashed_messages() %}
<div class="flash">{{msg}}</div>
{% endfor %}
<div class="products_basket">
    {% for product in basket %}
        <div class="product">
            <p><img src="{{ url_for('static', filename=product['picture']) }}"
                onclick="location.href = '{{ url_for("product", number=product['number']) }}'"
                width="189" height="255" alt="lorem"></p>
            <div>
                <p>{{ product['price'] }} ₽</p>
                <p onclick="location.href = '{{ url_for("product", number=product['number']) }}'">
                    {{ product['name'] }}
                </p>
                <p>Всего на складе: {{ product['quantity'] }}</p>
                <form name="quantity_change_form" method="post">
                    <label>Вы выбрали: {{ product['product_quantity'] }} штук(-и/-у)
                            <input type="number" id="tentacles" name="tentacles" min="1" max="{{ product['quantity'] }}">
                            <button type="submit" name="quantity_change" value="{{ product['number'] }}">изменить</button>
                    </label>
                </form>
            </div>
            <form name="basket" method="post">
                <p><button type="submit" name="basket_del" value="{{ product['number'] }}">Убрать из корзины</button></p>
            </form>
        </div>
    {% endfor %}
    </div>
<form name="order_confirm" method="post">
    <div>
        <p>Общая сумма заказа: {{ price }} ₽</p>
        <button type="submit" name="order" value="ON">Оформить заказ</button>
    </div>
</form>
</body>
</html>